body {
    color:white;
    width:100%;
    height:100%;
    background-color: #673ab7;
}
.rounded-circle {

    border: 10px solid #fff;
}
.full-page
{
    padding:30px 30px;
    border:5px solid #fff;
}
.list-group
{
    color:black;
}
.footer
{
    text-align:center;
}
.progress-bar
{
    background-color:black;
}
.align
{
    list-style: none;
}
.align-part
{
    padding:0px;
}